.root {
    -fx-background-color: black;
}

.ball {
    -fx-fill: red;
/*    Add red light effect around the ball*/
    -fx-effect: dropshadow(three-pass-box, red, 20, 0.2, 0, 0);

}

.racket {
    -fx-fill: white;
    -fx-stroke: yellow;
    -fx-stroke-width: 2;
    -fx-effect: dropshadow(three-pass-box, white, 5, 0, 0, 0);
}

.main-title {
    -fx-font-family: 'Ankh Sanctuary';
    -fx-font-size: 128px;
    -fx-text-fill: linear-gradient(to bottom, #ffffff, #444444);
}

.settings {
    -fx-background-color: rgba(255, 255, 255, 0.5);
}

.settings-options {
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}



@font-face {
    -fx-font-family: 'Ankh Sanctuary';
    src: url('pong/javafxpong/fonts/AnkhSanctuary.otf');
}