.root {
    -fx-background-color: black;
}

.ball {
    -fx-fill: red; /* Couleur de remplissage de la balle */
    -fx-stroke: white; /* Couleur de la bordure de la balle */
    -fx-stroke-width: 2; /* Largeur de la bordure de la balle */
}

.racket {
    -fx-fill: white; /* Couleur de remplissage de la raquette */
    -fx-stroke: yellow; /* Couleur de la bordure de la raquette */
    -fx-stroke-width: 2; /* Largeur de la bordure de la raquette */
}